/* Google fonts here  */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Montserrat', sans-serif;
}

#container{
    width: 1200px;
    margin: 0 auto;
}


.navber {
    display: flex;
    justify-content: space-between;
    margin: 35px 0px;
}

.nav-menu {
    display: flex;
}

ul.nav-items {
    display: flex;
    padding: 5px;
}

ul.nav-items li a {text-decoration: none;}

ul.nav-items li {
    list-style: none;
    margin-left: 50px;
}

.nav-social {
    margin-left: 30px;
    padding: 5px 0px;
    margin-top: 3px;
}

.nav-social a {
    margin-right: 25px;
    color: #424242;
}

.nav-title {
    font-size: 23px;
    color: #362f2f;
}

ul.nav-items a {
    color: #222020;
    font-size: 21px;
}


/* ===================
menu bar ends here 
====================== */



/*===============
 influncer section stareted here 
============ */


.state-influncer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 70px;
}

.influncer-right h1 {
    font-size: 44px;
    color: #464040;
    margin-bottom: 15px;
}

.influncer-right p {
    margin-bottom: 10px;
    color: #525252;
}

.influncer-right {
    padding: 56px 0px;
}



button.influncer-btn {
    padding: 10px 20px;
    background: #E02C6D;
    border: navajowhite;
    border-radius: 32px;
}

button.influncer-btn a {
    text-decoration: none;
    font-weight: bold;
    font-size: 17px;
    color: white;
}

i.fas.fa-arrow-right {
    margin-left: 10px;
}


.influncer-left-img {
    width: 500px;
    text-align: right;
    border-radius: 100%;
}

.influncer-left-img img {
    width: 399px;
    border: 1px solid #e3e3e3;
    border-radius: 100%;
    padding: 10px;
}



/*===============
 influncer section ends here 
============ */



.media {
    margin: 30px 0px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    margin-top: 80px;
}


/* <!-- =====================
media sections ends here 
========================= --> */



/* <!--============================
        gellery section started here 
    =========== ==================--> */

.gellery-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}

h1.gellery-title {
    text-align: center;
    font-size: 39px;
    color: #3e3a3a;
    margin: 70px 0px 25px 0px;
}

.singel-box {
    margin: 34px;
    padding: 10px;
    box-shadow: 0px -4px 23px 1px grey;
}
.box-description {
    text-align: left;
    padding: 10px;
    line-height: 27px;
    color: #4e4848;
}

.products-rating {
    color: #f9be17;
}

.more-items-btn {
    text-align: right;
}

span.more-btn a {
    text-decoration: none;
    color: #E02C6D;
    font-weight: bold;
}

/* <!--============================
        gellery section ends here 
    =========== ==================--> */



/* <!--============================
        footer section start here 
    =========== ==================--> */

.footer-wrapper {
    background: #0A0826;
    color: white;
    text-align: center;
    padding: 30px 0px;
    margin-top: 40px;
}

.footer.des {
    line-height: 30px;
}

.footer-icon a {
    color: white;
    background: #35417a9e;
    margin: 10px;
    padding: 6px;
    border-radius: 21px;
}


.footer-icon {
    margin-top: 14px;
}



/* <!--============================
        footer section ends here 
    =========== ==================--> */




    /* responsiv css started here  */


 @media only screen and (max-width:668px) {

    #container{
        width: 100%;
        margin: 0 auto;
    }


    .gellery-box {
        display: grid;
        grid-template-columns: 1fr;
    }

    .more-items-btn {
        text-align: center;
    }

    .media {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        line-height: 48px;
    }
    
    .media img {
        width: 73px;
    }

    .state-influncer {
        display: grid;
        grid-template-columns: 1fr;
        
    }
    
    .influncer-left-img {
        text-align: center;
    }
    
    .influncer-right {
        margin-left: 10px;
    }


  
 }





@media only screen and (min-width:668px) and (max-width:992px) {

    #container{
        width: 100%;
    }
    .gellery-box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .more-items-btn {
        text-align: center;
    }

    .media img {
        width: 100px;
    }


    .state-influncer {
        display: grid;
        grid-template-columns: 1fr;
        
    }
    
    .influncer-left-img {
        text-align: center;
    }
    
    .influncer-right {
        margin-left: 10px;
    }









    .nav-menu {
        margin-top: 46px;
        position: absolute;
    }
    
    
    ul.nav-items {
        flex-direction: column;
        background: red;
        line-height: 60px;
        width: 100%;
    }

    .nav-social {
        display: none;
    }























}











 .singel-box img {
    width: 100%;
}