/* Google fonts here  */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Montserrat', sans-serif;
}

#container{
    width: 1200px;
    margin: 0 auto;
}


.navber {
    display: flex;
    justify-content: space-between;
    margin: 35px 0px;
}

.nav-menu {
    display: flex;
}

ul.nav-items {
    display: flex;
    padding: 5px;
}

ul.nav-items li a {text-decoration: none;}

ul.nav-items li {
    list-style: none;
    margin-left: 50px;
}

.nav-social {
    margin-left: 30px;
    padding: 5px 0px;
    margin-top: 3px;
}

.nav-social a {
    margin-right: 25px;
    color: #424242;
}

.nav-title {
    font-size: 23px;
    color: #362f2f;
}

ul.nav-items a {
    color: #222020;
    font-size: 21px;
}


/* ===================
menu bar ends here 
====================== */



/*===============
 influncer section stareted here 
============ */


.state-influncer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 70px;
}

.influncer-right h1 {
    font-size: 44px;
    color: #464040;
    margin-bottom: 15px;
}

.influncer-right p {
    margin-bottom: 10px;
    color: #525252;
}

.influncer-right {
    padding: 56px 0px;
}



button.influncer-btn {
    padding: 10px 20px;
    background: #E02C6D;
    border: navajowhite;
    border-radius: 32px;
}

button.influncer-btn a {
    text-decoration: none;
    font-weight: bold;
    font-size: 17px;
    color: white;
}

i.fas.fa-arrow-right {
    margin-left: 10px;
}


.influncer-left-img {
    width: 500px;
    text-align: right;
    border-radius: 100%;
}

.influncer-left-img img {
    width: 399px;
    border: 1px solid #e3e3e3;
    border-radius: 100%;
    padding: 10px;
}



/*===============
 influncer section ends here 
============ */



